@font-face {
font-family: 'RestaurantMenu';
src: url('restaurantmenu-webfont.eot');
src: url('restaurantmenu-webfont.eot#iefix') format('embedded-opentype'),
url('restaurantmenu-webfont.woff2') format('woff2'),
url('restaurantmenu-webfont.woff') format('woff'),
url('restaurantmenu-webfont.ttf') format('truetype'),
url('restaurantmenu-webfont.svg#svgwpf') format('svg');
}

body {
  background: linear-gradient(to right, #2E2E2E, #1C1C1C);
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  font-family: "RestaurantMenu", sans-serif !important;
}

h2{
  color: green;
  text-align: center;
  font-style: oblique;
  font-size: 60px;
  font-family: "RestaurantMenu", sans-serif !important;
}

h3{
  text-decoration: underline;
}

p{
  color: yellow;
  font-style: oblique;
  font-size: 18px;
}

.bloc{
  margin-top: -175px;
}

.container{
  text-align: center;
  margin-top: 10px;
}

.btn{
  border: 1px solid #D7DF01;
  border-radius: 20px;
  background: none;
  background-color: #D7DF01;
  padding: 7px 40px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s;
}

.button{
  color: black;
}

.button:hover{
  color: #fff;
  background-color: #FF8000;
  border: 1px solid #FF8000;
}

.input{
  border: hidden;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFF00, #FF4000);
  padding: 15px 50px;
  text-align: center;
  font-size: 15px;
}

.menu {
  text-align: left;
}

li
{
list-style-type: none;
background: grey;
width : 200px;
height: 40px;
text-align: center;
margin-left: -40px;
margin-top: 0px;
}

a
{
font-size: 25px;
font-weight: bold;
font-family: Arial;
color: white;
text-decoration: none;
line-height: 45px;
}

li:hover
{
background: #04B4AE;
}

li:hover a
{
color: white;
text-decoration: underline;
}

li:first-child
{
background: #088A68;
border-radius: 2px;
}
